
<div class="opcoes-curso" style="background-color: skyblue;">
    <h3 style="color: rgb(81, 124, 141)">Fisioterapia</h3>
</div>

<div class="opcoes-curso"  style="background-color: yellow;">
    <h3 style="color: rgb(143, 143, 4)">Ed. Fisica</h3>
</div>

<div class="opcoes-curso"  style="background-color: green;">
    <h3 style="color: rgb(137, 255, 1)">Matematica</h3>
</div>

<div class="opcoes-curso"  style="background-color: red;">
    <h3 style="color: rgb(122, 2, 2)">Fisica</h3>
</div>

<div class="opcoes-curso"  style="background-color: blueviolet;">
    <h3 style="color: rgb(124, 1, 114)">Ciencias da computacao</h3>
</div>

<div class="opcoes-curso"  style="background-color: rgb(105, 105, 105);">
    <h3 style="color: white">Engenharia de dados</h3>
</div>
