
<div class="background-img-not-found">
    <div class="color-layer-for-bg">

            <div class="container-not-found">

                <div class="gradient-div">

                    <div class="both-elements">
                        <h4 class="not-found-h4">404 - not found</h4>
                        <img id="img-psy"   src="../../../assets/sad_psyduck.png" />
                    </div>
                    <!-- https://aminoapps.com/c/pokemon/page/blog/top-5-saddest-pokemon/5GhV_ueZJZYwPxB3W5V2k1wv6p33glTY -->
                </div>
            
            </div>

    </div>
</div>
