
.container-not-found{
    width: 100%;
    height: 100%;
    border: 10px solid blue;
    padding: 2% 0;
    display: flex;
    justify-content: center;
    align-items: center;


    .gradient-div{
        border: 7px solid white;
        height: auto;
        width: 80%;
        border-radius: 20px;
        background: linear-gradient( 155deg, rgba(255, 255, 255, 0.3) 0%, rgba(40, 40, 40, 0.99) 40%, rgba(88, 88, 88, 0.1) 100%  );
        display: flex;
        justify-content: center;


        .both-elements{
            position: relative;
            width: 70%;
            height: auto;
            border: 6px solid rgb(255, 67, 67);

            .not-found-h4{
                position: absolute;
                color: white;
                font-style: italic;
                font-size: 2vw;
                top: 30%;
                left: 47%;
            }
    
            #img-psy{
                margin: 8% 6%;
                width: 50%;
                height: auto;
                border: 2px solid yellow;
            }
        }
        
    }
}