<Br />
<Br />
<Br />

<h3>Pokémon correspondente: </h3>

<div class="pokemon-image">

    <img 
        src="{{ urlImage }}" 
        height="300" 
        width="300" 
        title="A pokemon image" 
        alt="A pokemon image" 
        (mouseover)="mouseOver()"
        (mouseout)="mouseOut()"
    />

    <div class="container">
        <div class="row">
            <div *ngFor="let pokemon of pokemonList; let pokeIndex = index" class="col- col-sm-6 col-md-4 col-lg-4 p-1 col-xs-1 text-center">
                    <img src="{{pokemon.imgLink}}" alt="infernape">
                    <div class="caption">
                        <h3>{{ pokeIndex+1 }} - {{ pokemon.name }} </h3>
                        <p>A fire-fighting type pokémon of sinnoh region...</p>
                        <p>
                            <a href="#" class="btn text-white" role="button" [ngClass]="[ pokemon.types[0] ]"> 
                                {{ pokemon.types[0] }} 
                            </a>
                            <a href="#" *ngIf="pokemon.types[1] !== type.EMPTY" class="btn text-white" role="button" [ngClass]="[ pokemon.types[1] ]"> 
                                {{ pokemon.types[1] }} 
                            </a>
                        </p>
                    </div>
                    
            </div>
        </div>
    </div>

    <!-- TESTANDO O NG CONTENT -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <ng-content select=".headd"></ng-content>
        </div>
        <div class="panel-body">
            <ng-content select=".bodyy"></ng-content>
        </div>
        <ng-content></ng-content>
         <!-- Renderizando o conteudo colocado dentro do seletor 'app-view-pokemon' no arquivo 'app.component.html'-->
    </div>


    <h2 *ngFor="let itemLodash of listLodash">
         {{itemLodash}}
    </h2>

     <!-- 
        The Bootstrap 5 grid system has six classes:

        .col- (extra small devices - screen width less than 576px)
        .col-sm- (small devices - screen width equal to or greater than 576px)
        .col-md- (medium devices - screen width equal to or greater than 768px)
        .col-lg- (large devices - screen width equal to or greater than 992px)
        .col-xl- (xlarge devices - screen width equal to or greater than 1200px)
        .col-xxl- (xxlarge devices - screen width equal to or greater than 1400px)
     -->
</div>