<Br />
<Br />
<Br />

<h3>Pokémon correspondente: </h3>

<div class="pokemon-image">

    <img 
        src="{{ urlImage }}" 
        height="300" 
        width="300" 
        title="A pokemon image" 
        alt="A pokemon image" 
        (mouseover)="mouseOver()"
        (mouseout)="mouseOut()"
    />

    <div class="container">
        <div class="row">
            <div *ngFor="let pokemon of pokemonList; let pokeIndex = index" class="col- col-sm-6 col-md-4 col-lg-4 p-1 col-xs-1 text-center">
                    <img src="{{pokemon.imgLink}}" alt="infernape">
                    <div class="caption">
                        <h3>{{ pokeIndex+1 }} - {{ pokemon.name }} </h3>
                        <p>A fire-fighting type pokémon of sinnoh region...</p>
                        <p>
                            <a href="#" class="btn text-white type-btn-style" role="button" [ngClass]="[ pokemon.types[0] ]"> 
                                {{ pokemon.types[0] }} 
                            </a>
                            <a href="#" *ngIf="pokemon.types[1] !== type.EMPTY" class="btn text-white" role="button" [ngClass]="[ pokemon.types[1] ]"> 
                                {{ pokemon.types[1] }} 
                            </a>
                        </p>
                    </div>
    
            </div>
        </div>
    </div>

    <!-- TESTANDO O NG CONTENT -->
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">
                <ng-content select=".headd"></ng-content>
            </h4>
            <p class="card-text">
                <ng-content select=".bodyy"></ng-content>
            </p>
            <ng-content></ng-content>
             <!-- Renderizando o conteudo colocado dentro do seletor 'app-view-pokemon' no arquivo 'app.component.html'-->
        </div>
       
    </div>


    <h2 *ngFor="let itemLodash of listLodash">
         {{itemLodash}}
    </h2>

    <p>========================================================</p>

    <h1>Adicionar um item para pokemons na lista de serviços: </h1>
    <input id="int"  #pokeName value="wurmple" />
    <button (click)="addItens(pokeName.value)" >Add</button>
    <!-- Adicionando um input para inserir um servico digitado pelo usuario -->

    <ul>
        <li *ngFor="let poke of pokeItens">
            {{poke}}
        </li>
    </ul>

    <h3>Último item pokémon que foi adicionado ao serviço 'home-menu-serviço': {{  this.pokeItens[this.pokeItens.length-1] }} </h3>
     <!-- 
        The Bootstrap 5 grid system has six classes:

        .col- (extra small devices - screen width less than 576px)
        .col-sm- (small devices - screen width equal to or greater than 576px)
        .col-md- (medium devices - screen width equal to or greater than 768px)
        .col-lg- (large devices - screen width equal to or greater than 992px)
        .col-xl- (xlarge devices - screen width equal to or greater than 1200px)
        .col-xxl- (xxlarge devices - screen width equal to or greater than 1400px)
     -->



     <!------------------------ CRIANDO PIPES: ------------------------>
     <h5>Exemplos de Pipes </h5>                <!-- a ordem de execucao dos pipes é da esquerda para a direita.Assim, abaixo o 'uppercase' será o último estilo aplicado -->
     <p>Name:                 {{defaultTrainter.name | lowercase | uppercase }}</p> <!-- utilizando pipe '|' para deixar todas as letra com caixa alta -->
     <p>rating:               {{defaultTrainter.rating | number:'2' }}</p> <!-- formatando o number para um valor com casas decimais especificas -->
     <p>pokemonsCatched:      {{defaultTrainter.pokemonsCatched | number}}</p> <!-- numeros naturais que nao precisam de formatacao nao precisam da declaração do pipe 'number'  -->
     <p>insignias:            {{defaultTrainter.insignias | number:'2.1-2' }}</p> <!-- definindo um numero obrigatorio de 2 casas decimais antes do ponto e numero máximo de 2 casas decimais depois do ponto -->
     <p>saldo em dinheiro:    {{defaultTrainter.money | currency:'BRL':true }}</p> <!-- o 'currency' significa a moeda. Por padrao, o valor eh apresentado em dolares. O 'true' habilita o simbolo da moeda para visualizacao -->
     <p>isChampion:           {{defaultTrainter.isChampion}}</p>
     <p>pokemonTeam:          {{defaultTrainter.pokemonTeam}}</p>
     <p>BeginningJourneyDate: {{defaultTrainter.BeginningJourneyDate | date:'dd-MMM-yyyy' }}</p> <!-- o pipe 'date' elimina as informações de fuso-horário que aparecem por padrão ao printar um objeto do tipo Date -->
    <!-- por padrao o formato da data é americano! Para alterar isso, basta inserir uma String apos o ':', como acima -->

     <p>object in JSON:   {{defaultTrainter | json }}</p> <!-- o pipe 'json' converte objetos para o formato String para visualizacao dos seus atributos e dados. Eh o resultado contrario ao 'printar' os dados do objeto sem a formatacao json, na qual sera exibido somente o tipo do objeto  -->
     <!-- A diferença primordial dos pipers em relacao aos outros elementos do Angular (ex: components, services, etc... ) eh que
          eles nao precisam ser importados dentro dos components, uma vez que ja são importados pela biblioteca 'BrowserModule' que
          por sua vez eh importada para dentro do modulo raiz/geral do projeto, que eh o 'app.module.ts'  -->

     

</div>
