
@import "../../app.component.scss";


.background-img-about{
    width: 100%;
    height: auto;
    background-image: url("../../../assets/pikachu-good-vibes.png"); 
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;


    .main-content {
        position: relative;
        margin: 5% 10vw;
        width: auto;
        height: auto;
        background-color: $colorContainer;
        border-top: 15px solid rgb(170, 3, 3);
        border-left: 20px solid red;
        border-right: 20px solid $skyBorder ;
        border-bottom: 15px solid $blueBorder;
        padding: 4% 3%;
    }
}
