
@import url(../../app.component.scss);

.main-content {
    position: relative;
    margin: 5% 10vw;
    width: auto;
    height: auto;
    background-color: $colorContainer;
    border-top: 15px solid rgb(170, 3, 3);
    border-left: 20px solid red;
    border-right: 20px solid $skyBorder ;
    border-bottom: 15px solid $blueBorder;
    padding: 4% 3%;
}