:root{
    --largura-da-borda: 5px;
}

.text{
    position: 'absolute';
    transform: translate(50%, 50%);
    transition-timing-function: ease-out;
    transition-duration: .5s;
}

.text:hover{
    transform: translate(0%, 50%);
    opacity: 0.1;
}

.main-content{
    position: relative;
    margin: 100px;
    width: auto;
    height: auto;
    background-color: white;
    border-top: 10px solid red;
    border-left: 10px solid red;
    border-right: 10px solid rgb(78, 78, 78);
    border-bottom: 10px solid rgb(78, 78, 78);
    padding-top: 40px;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 40px;
}

.main-content2{
    position: relative;
    margin: 100px;
    width: auto;
    height: 450pt;
    background-color: white;
    border-top: 10px solid red;
    border-left: 10px solid red;
    border-right: 10px solid rgb(78, 78, 78);
    border-bottom: 10px solid rgb(78, 78, 78);
    padding-top: 40px;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 40px;
}

h1, h2, h3{
    color: rgb(78, 78, 78);;
}