
$colorContainer: rgba(255, 255, 255, 0.89);
$defaultGrayWindow: rgb(78, 78, 78);
$blueBorder: #2220be;
$skyBorder: rgb(88, 85, 250);

// $oceanPokemonWallpaper: url("../../../assets/ocean_pokemon_wallpaper.jpg");
