<div class="main-content">

    <h1>{{title}}</h1>
    <h2 class="text">Marcos Patrick</h2>
    <h3 class="text">Saraiva da</h3>
    <h4 class="text">Silva</h4>

    <h2>Nome do portal: <a href="http://loiane.training"> {{nomeSite}} </a> </h2>
    <!-- utilizando interpolacao para acessar a variavel "tamanhoNome" do typescript--> -->

    <!-- Verificandos cursos existentes atraves da diretiva '*ngFor' -->
    <ul>
        <li *ngFor="let nomeCurso of cursos">
            <h3>  {{nomeCurso}}  </h3>
        </li>
    </ul>

<!-- Ou tbm pode ser escrito com o uso do ng-template: -->
    <ng-template ngFor let-nomeCurso let-count="index" [ngForOf]="cursos">
        <h3> -> {{count}} Testando o "ng-template" com o "ngFor"</h3>
    </ng-template>
<!--

    <Br />

    <h3> Renderizando componente "app-home-menu" logo abaixo: </h3>
    <app-home-menu></app-home-menu>
    <h3>============ Fim do componente "app-home-menu" ============</h3>
-->
</div>



<div class="main-content2">

    <h5>
        Digite abaixo um número entre 1-898 - 
        que equivale ao número da pokédex de um 
        determinado pokémon: 
    </h5>

    <input
        type="text"
        value="1"
        (keyup)="changePokemon( inputValue.value )"
        #inputValue
    />
    <Br />
    <Br />
    <!-- '#inputValue' armazena o valor do campo input -->
    

    <label ngFor="in">Input de somente de leitura (readonly):</label>   
    <Br />
    <input id="in" style="margin-top: 3%;" [value]="inputValue.value" readonly #elementRefVar />
                                                                         <!-- #elementRefVar
                                                                             representa o elemento 'input' dentro
                                                                             do DOM, que eh acessado atraves do decorator 
                                                                             @ViewChild((blur)="" na classe "AppComponent"  -->

    <Br />

    <button
         class="btn btn-info" 
         (click)="closePokeView = !closePokeView"
         style="margin-top: 7%;"
    >
               Click here to Toggle view pokemon...
    </button>


    <Br />
    <h2 style="margin-top: 3%;"> {{messageOfViewPokemonComponente}}</h2>



<!--  A diretiva ngIf usada abaixo:  
        <div [ngIf]="!closePokeView" > 
            Teste
        </div>

    Eh o mesmo que escrever:   -->
    <ng-template [ngIf]="!closePokeView">
        <h3> Testando o "ng-template" com "ngIf" como property-bind</h3>
    </ng-template>
<!--
     Ou seja, o asterisco simplesmente representa um property-bind
     por debaixo dos panos e aplica ele na tag "template" do Angular
-->
    <!-- $event sera a argumento q ira receber o valor passado por emit() na classe "ViewPokemonComponent"  -->
    <app-view-pokemon 
          [urlImg]="pokemonUrlImage"
          (imgHover)="pokemonFocused( $event )"
          *ngIf="!closePokeView">
                <div class="headd">
                    Passando essa frase como valor do ng-content, mas com a classe '.headd'
                </div>
                <div class="bodyy">
                    Passando essa frase como valor do ng-content, com classe '.bodyy'
                </div>
                
                <app-componente-texto></app-componente-texto>
                 
          <!-- Enquando ngIf ser true, o componente eh renderizado, senao, nao eh renderizado -->
    </app-view-pokemon>



    <p><strong>Usando diretivas-padrao com *ngSwitch, *ngSwitchCase, *ngSwitchDefault:  </strong></p>
    
    <p>Escolha um tipo: </p>
    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-danger" [class.grow-padding]="typeSelected==='fire'" (click)="typeSelected='fire'">Fire</button>
        <button type="button" class="btn btn-primary" [class.grow-padding]="typeSelected==='water'" (click)="typeSelected='water'">Water</button>
        <button type="button" class="btn btn-warning" [class.grow-padding]="typeSelected==='eletric'" (click)="typeSelected='eletric'">Eletric</button>
    </div>

    
    <div class="container" [ngSwitch]="typeSelected">
        <p *ngSwitchCase="'fire'">Fogo</p>
        <p *ngSwitchCase="'water'">Água</p>
        <p *ngSwitchCase="'eletric'">Elétrico</p>
        <p *ngSwitchDefault> Clique em um tipo acima...</p>
    </div>

    <Br />

    <p><strong>Usando as diretivas da familia 'switch', porem, usando 'ng-template' de acordo com o valor selecionado no switch anterior </strong></p>
<!-- Ou tbm pode ser escrito com o uso do ng-template: -->
    <div class="container" [ngSwitch]="typeSelected">
        <ng-template [ngSwitchCase]="'fire'">
            <p>Fogo</p>
        </ng-template>

        <ng-template [ngSwitchCase]="'water'">
            <p>Água</p>
        </ng-template>

        <!-- Com o 'ng-template' podemos usar o 'ngSwitchDefault' na mesma tag com o 'ng-template' -->
        <ng-template [ngSwitchCase]="'eletric'" ngSwitchDefault >
            <p>Elétrico</p>
        </ng-template>
        <!-- Esse 'ng-template' vem do conceito de Web Componentes -->
    </div>


    <h6> Usando Directivas: </h6>

    <!-- Usando diretiva 'appColorDirective' declarada dentro da pasta "shared" e passando property-bind para ela, e nao para o componente-->
    <h2 appColorDirective [defaultColor]="'gray'" [highlightColor]="'skyblue'" > Testando o HostBinding atraves da diretiva atribuída a essa tag 'h2' </h2>

    <h5 hostListener> Testando HostListener.... Clique com o mouse aqui ou passe o curso por cima e retirar o mesmo....) </h5>
    


    <!-- usando diretiva com asterisco -->
    <div *ngElse="closePokeView">
        Showing the courses here!> 
        <div>lista de exemplos aqui</div>
    </div>

   
    <div *ngElse ="closePokeView"> Not showing the courses hereeeeeeee! </div>
    
    <button>Click Here !!</button>

</div>
