
<div id="red-div">

    <div id="circle-profile-icon">
        <i id="icon-person" class="bi bi-person-circle text-white"> </i>
    </div>

    <div id="pokemon-logo">
        <img id="logo-img" src="../../assets/pokemon-logotype.png" />
    </div>

</div>


<div id="head">
    <nav id="navbar" (window:resize)="resizeEvent($event)">
        <img id="pokeball" src="../../assets/pokeball-96.png" title="pokeball" width="48" height="48">

        <ul>
            <li routerLinkActive="active" routerLink="/" class="active"><a> Home</a></li>
            <li routerLinkActive="active" routerLink="/pokedex"><a> Pokedex</a></li><!-- routerLinkActive, instead routerLink, provide a class 'active' when 'a' tag become active -->
            <li style="line-height: 1.1;"><a  href="232332">Montar time!</a></li>
            <li><a href="344323">Cadastro</a></li>
            <!-- <li><a href="23454">Login</a></li>   -->
            <li routerLinkActive="active" routerLink="/about"><a>About us </a></li>
        </ul>

        <div id="menu-icon" (click)="menuClicked()">
            <div>
                <img src="../../assets/menu-svgrepo-com.svg" >
            </div>
        </div>

    </nav>
</div>


 <!-- MOBILE MENU --->
 <div *ngClass="menuDropDownIsOpen === true ? 'open' : 'drop-down-menu-box'" >
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Pokedex</a></li>
        <li style="line-height: 1.1;"><a routerLinkActive="active" routerLink="about" href="#">Montar time!</a></li>
        <li><a href="#">Cadastro</a></li>
        <li><a href="#">Login</a></li>
        <li style="line-height: 1.1;" routerLinkActive="active" routerLink="about"><a href="#"> Sobre o criador </a></li>
    </ul>
</div>
<!-- MOBILE MENU -->

<!--
<div id="last-li">
    <label for="inp">Pesquisar: </label>
    <input id="inp" type="text" placeholder="pesquisar monstrinho"/>
</div>
-->

