<div id="red-div">
    <div id="pokemon-logo"></div>
</div>


<div id="head">
    <nav id="navbar">
        <img id="pokeball" src="../../assets/pokeball-96.png" title="pokeball" width="48" height="48">

        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Pokedex</a></li>
            <li style="line-height: 1.1;"><a href="#">Montar time!</a></li>
            <li><a href="#">Cadastro</a></li>
            <li><a href="#">Login</a></li>
            <li style="line-height: 1.1;"><a href="#">Sobre <br>   nos</a></li>
        </ul>

        <div id="menu-icon">
          <!--  Menu_icon
             <img src="https://p7.hiclipart.com/preview/616/930/362/hamburger-button-computer-icons-menu-bar-line.jpg" /> -->
            <div>
                <img src="../../assets/menu-svgrepo-com.svg" >
            </div>
        </div>
    </nav>
</div>

<!--
<div id="last-li">
    <label for="inp">Pesquisar: </label>
    <input id="inp" type="text" placeholder="pesquisar monstrinho"/>
</div>
-->







