@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@500&display=swap');


#red-div{
    background-image: linear-gradient( to bottom, rgb(236, 32, 5) 60%, rgb(92, 12, 1) );
    width: 100%;
    height: 180px;

    #pokemon-logo{
        height: 70%;
        width: auto;
        background-image: url('https://th.bing.com/th/id/R.ddd5084dff8d7606019645f62c1712c6?rik=RJm8gtkd41am8Q&riu=http%3a%2f%2fpluspng.com%2fimg-png%2fpokemon-logo-png-pokemon-logo-png-2000.png&ehk=%2bFdpvqx7Vk1jcWsSaxVIqArQSByK89fRtNQoRFktAhY%3d&risl=&pid=ImgRaw&r=0');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
    }
}


#head{
    position: relative;
    width: 100%;
    height: 23.3%;

    #navbar{
        background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.61) 30%, rgb(51, 51, 51));
       /* background-color: rgb(151, 48, 0); */
        background-size: contain;
        height: 100%; 
        overflow: hidden;
        display: flex;
        align-items: center; /*  vertically */
        justify-content: space-around; /* horizontally */
    

        ul{
            position: relative;
            list-style: none;
            display: flex;
            background-color: transparent; 
            height: 100%;
            width: auto; /* wrapping the content */
            overflow: hidden;
            padding-left: 5px;
            padding-right: 5px;
            margin: 0;
        }
    
        li{
            background-color: rgb(77, 77, 77);
            margin-left: 10px;
            margin-right: 10px;
            font-family: 'Advent Pro', sans-serif;
            min-height: 100%; /* forces 'li' to 100% */
            width: 10vw;/* viewport width */
            border-top: 2px solid white;
            overflow: hidden;
            text-align: center; /* center horizontally */
            transform: skewX(-20deg);
            padding: 1.5vh 0; /* vertically horizontally */

            a{
               overflow: hidden;
               text-decoration: none;
               font-size: 1.9vw;
               color: white;
               display: inline-block; /*previne skewX of "li" */
               transform: skewX(20deg); /*previne skewX of "li" */
            }
        }

        li:hover{
            background-color: rgb(196, 29, 7);
            color: rgb(54, 54, 54);
            transition: background-color .5s ease;
        }

        .menu-icon{
            color: white;
        }
    }  
}

#pokeball{
    display: none;
}

#menu-icon{
    display: none;
}

@media (max-width: 500px){
    #head #navbar ul li{
        display: none;
    }
    #menu-icon{
        display: block;
    }

    #pokemon-logo{
        height: calc(100% - 10px);
        width: 100%;
    }

    #pokeball{
        display: block;
    }
}

@media (min-width: 501px ) and (max-width: 891px){

    #pokemon-logo{
        height: 80%;
    }
}

@media (min-width: 892px) and (max-width: 2000px){
   
}


.drop-down-menu-box{
    display: none;
}

.open{
    display: flex;
    flex-direction: row;
   
    ul{
        align-items: center;
        width: 100%;
        padding: 0;
        margin: 0;
        
        li{
            background-color: rgb(49, 49, 49);
            padding: 1.2% 0;
            display: flex;
            flex-direction: row;
            justify-content: center;

            a{
                text-decoration: none;
                color: rgb(182, 182, 182);
                font-size: 3.2vh;
            }
        }

        li:hover{
            background-color: rgb(182, 182, 182);

            a{
                color: rgb(54, 54, 54);
                font-weight: bold;
            }
        }
    }
    


}




/*
#last-li{
    float: right;
    background-color: white; 
    width: 70px;
    height: 100%;
    overflow: hidden;
}
*/