<div id="red-div">
    <div id="pokemon-logo"></div>
</div>


<div id="head">
    <nav id="navbar" (window:resize)="resizeEvent($event)">
        <img id="pokeball" src="../../assets/pokeball-96.png" title="pokeball" width="48" height="48">

        <ul>
            <li><a routerLink="/" class="active"> Home</a></li>
            <li><a routerLinkActive="active" routerLink="/pokedex"> Pokedex</a></li><!-- routerLinkActive, instead routerLink, provide a class 'active' when 'a' tag become active -->
            <li style="line-height: 1.1;"><a  href="#">Montar time!</a></li>
            <li><a href="#">Cadastro</a></li>
            <li><a href="#">Login</a></li>
            <li style="line-height: 1.1;" routerLinkActive="active" routerLink="/about"><a>About us </a></li>
        </ul>

        <div id="menu-icon" (click)="menuClicked()">
            <div>
                <img src="../../assets/menu-svgrepo-com.svg" >
            </div>
        </div>

    </nav>
</div>


 <!-- MOBILE MENU --->
 <div *ngClass="menuDropDownIsOpen === true ? 'open' : 'drop-down-menu-box'" >
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Pokedex</a></li>
        <li style="line-height: 1.1;"><a routerLinkActive="active" routerLink="about" href="#">Montar time!</a></li>
        <li><a href="#">Cadastro</a></li>
        <li><a href="#">Login</a></li>
        <li style="line-height: 1.1;" routerLinkActive="active" routerLink="about"><a href="#"> Sobre o criador </a></li>
    </ul>
</div>
<!-- MOBILE MENU -->

<!--
<div id="last-li">
    <label for="inp">Pesquisar: </label>
    <input id="inp" type="text" placeholder="pesquisar monstrinho"/>
</div>
-->







